<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VS1_Ignatova</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VS1_Ignatova.styles.css" asp-append-version="true" />
    <link href="~/../../../../../миль папс/уп бд/vs1_ignatova/vs1_ignatova/wwwroot/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VS1_Ignatova</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (IsSectionDefined("Header"))
                    {
                        @RenderSection("Header")
                    }
                    else
                    {
                        //если пользователь вошел в систему
                        @if (User.Identity.IsAuthenticated)
                        {
                            // то он видит вкладку "Главная"
                            <ul class="navbar-nav flex-grow">
                            <li>
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" title="Главная">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>

                            @*если пользователь с ролью админ, то он получает доступ к работе со всеми пользователями системы*@
                            @if (User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role).Select(s => s.Value).Contains("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="User">Пользователи</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Role">Роли</a>
                                </li>
                            }
                        
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Category">Категории</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Game">Игры</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Story" asp-action="Story">История</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Developer" asp-action="Developer">Разработчики</a>
                            </li>

                                // с левой стороны, пользователь видит свой свою почту с выпадающим меню
                                // одним из пункта меню является выход
                                <ul class="navbar-nav flex-grow">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown">
                                            <i class="far fa-user-circle"></i>  @User.Identity.Name
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-dark" asp-controller="PersonalInfos" asp-action="Index">Личные данные</a>
                                            <div class="dropdown-item ">
                                                <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
                                                    <div class="form-group">
                                                        <i class="fas fa-sign-out-alt"></i>
                                                        <input class="btn btn-link text-dark" type="submit" value="Выход" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </ul>
                                }
                                // если пользователь не вошел на сайт, то для него отображается в качестве главной страницы вход в систему
                                else
                                {
                                    <ul class="navbar-nav">
                                        <li>
                                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login" title="Главная">
                                                <i class="fas fa-home"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                                                <i class="fas fa-sign-in-alt"></i>  Вход
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
                                        </li>
                                    </ul>
                                }
                        }
                        <!-- <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> -->
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - VS1_Ignatova - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
